/* src/assets/style/App.css */
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  background: linear-gradient(180deg, #000 0%, #141414 100%);
  min-height: 100vh;
  color: #fff;
  font-family: 'Netflix Sans', 'Arial', sans-serif;
  overflow-x: hidden;
}