.row__posters{
    display: flex;
    .movie__container{
        padding: .2rem;
        margin-left: .2rem;
        margin-bottom: .2rem;
        display: flex;
        flex-direction: column;
        transition: transform 300ms;
    
    
        &:hover{
            transform: scale(1.05);
            cursor: pointer;
            p{
                font-size: 85%;
            }
        }
        img.movie__poster{
            width: 10rem;
            margin-bottom: .1rem;
        }
        p{
            font-size: 75%; 
            transition: font-size 300ms;       
        }
    }
}